<p id="notice"><%= notice %></p>

<h1>Simulations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Project</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @simulations.each do |simulation| %>
      <tr>
        <td><%= simulation.name %></td>
        <td><%= simulation.description %></td>
        <td><%= simulation.project_id %></td>
        <td><%= link_to 'Show', simulation %></td>
        <td><%= link_to 'Edit', edit_simulation_path(simulation) %></td>
        <td><%= link_to 'Destroy', simulation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Simulation', new_simulation_path %>
