<section class="event_stream">
<div class="container">
<div class="row"> 
    <div class="col-md-12">
        <div class="customer_value_exam row">
            <div class="col-md-1">
                <%= image_tag('71.png') %>
            </div>
            <div class="col-md-6">
                <h3>Customer Value Examination</h3>
                <p>This is a description that will go for a few rows. Lorem ipsum dolor sit amet,</p>
            </div>
            <div class="col-md-3 text-right">
                <p class="pt-4">Owner: Benjamin Wootton</p>
            </div>
            <div class="col-md-2 text-right pt-1">
                <ul>
                    <li>
                        <a href="#"><%= image_tag('74.png') %></a>
                    </li>
                    <li>
                        <a href="#"><%= image_tag('73.png') %></a>
                    </li>
                    <li>
                        <a href="#"><%= image_tag('72.png') %></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="border_bottom"></div>
    </div>
</div>
<div class="row data_tab pt-4">
    <div class="col-md-4">
        <h4 class="pt-2 pb-2">Data</h4>
    </div>
    <div class="col-md-3">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Customer Orders <i class="fa fa-angle-down" aria-hidden="true"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">1</a>
                <a class="dropdown-item" href="#">2</a>
                <a class="dropdown-item" href="#">3</a>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="dropdown extra_btn">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Previous <i class="fa fa-angle-down" aria-hidden="true"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">String</a>
                <a class="dropdown-item" href="#">String</a>
                <a class="dropdown-item" href="#">String</a>
            </div>
        </div>
    </div>
    <div class="col-md-1">  
        <input type="text" name="text" class="form-control" value="5">
    </div>
    <div class="col-md-2">
        <div class="dropdown btn_min">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Minutes <i class="fa fa-angle-down" aria-hidden="true"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">1</a>
                <a class="dropdown-item" href="#">2</a>
                <a class="dropdown-item" href="#">3</a>
            </div>
        </div> 
    </div>
</div>
<div class="row pt-4">
    <div class="col-md-12"> 
         <div class="table-responsive data_table">
            <table class="table">
                <tr class="border_none">
                    <td colspan="3">
                        <div class="data_content">
                            <p class="mb-0">Source Data</p>
                            <h6 class="pb-1">Total Records in Set: 4000</h6>
                        </div>
                    </td>
                    <td colspan="1" align="right">
                        <span class="span_show">Show:</span>
                        <div class="dropdown extra_btn">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                10 <i class="fa fa-angle-down" aria-hidden="true"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">20</a>
                                <a class="dropdown-item" href="#">50</a>
                                <a class="dropdown-item" href="#">100</a>
                            </div>
                        </div>
                    </td>
                    <td colspan="2">
                        <form>
                            <input type="search" name="search" placeholder="Search">
                            <label><%= image_tag('85.png') %></label>
                        </form>
                    </td>
                </tr>
                <tr class="thead"> 
                            <th><span>Time</span><i class="fa fa-angle-up" aria-hidden="true"></i></th>
                            <th><span>Capacity</span><i class="fa fa-angle-up" aria-hidden="true"></i></th>
                            <th width="300px"><span>Destination</span><i class="fa fa-angle-up" aria-hidden="true"></i></th>
                            <th><span>Flight Number</span><i class="fa fa-angle-up" aria-hidden="true"></i></th>
                            <th><span>Source</span><i class="fa fa-angle-up" aria-hidden="true"></i></th>
                            <th width="150px"><span>Airline</span><i class="fa fa-angle-up" aria-hidden="true"></i></th> 
                </tr>
                <tr>
                    <td>12-05-2020 07:45</td>
                    <td>1</td>
                    <td>Paris</td>
                    <td>787</td>
                    <td>Leads</td>
                    <td>Wizzair</td>
                </tr>
                <tr>
                    <td>12-05-2020 07:45</td>
                    <td>1</td>
                    <td>Paris</td>
                    <td>787</td>
                    <td>Leads</td>
                    <td>Wizzair</td>
                </tr>
                <tr>
                    <td>12-05-2020 07:45</td>
                    <td>1</td>
                    <td>Paris</td>
                    <td>787</td>
                    <td>Leads</td>
                    <td>Wizzair</td>
                </tr>
                <tr>
                    <td>12-05-2020 07:45</td>
                    <td>1</td>
                    <td>Paris</td>
                    <td>787</td>
                    <td>Leads</td>
                    <td>Wizzair</td>
                </tr>
                <tr>
                    <td>12-05-2020 07:45</td>
                    <td>1</td>
                    <td>Paris</td>
                    <td>787</td>
                    <td>Leads</td>
                    <td>Wizzair</td>
                </tr>
                <tr>
                    <td>12-05-2020 07:45</td>
                    <td>1</td>
                    <td>Paris</td>
                    <td>787</td>
                    <td>Leads</td>
                    <td>Wizzair</td>
                </tr>
                <tfoot>
                    <tr>
                      <td colspan="3"><p class="mb-0">Showing 1 to 10 of 1,000 entries</p></td>
                      <td colspan="4" align="right">
                        <div class="pagination">
                          <a href="#" class="previous"><i class="fa fa-chevron-left" aria-hidden="true"></i> Previous</a>
                          <a href="#">1</a>
                          <a href="#" class="active">2</a>
                          <a href="#">3</a>
                          <a href="#">4</a>
                          <a href="#">5</a>
                          <a href="#">6</a>
                          <a href="#" class="next">Next<i class="fa fa-chevron-right" aria-hidden="true"></i>    </a>
                        </div>
                      </td>
                    </tr>
                </tfoot>
            </table>
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-md-12">
        <div class="graph_img">
          <%= image_tag('87.png') %>
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-md-12">
        <div class="graph_img">
          <%= image_tag('86.png') %>
        </div>
      </div>
    </div>

  </div>
</section>

<script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>

<script type="text/javascript">
  $(document).ready(function() {
    $('#example').DataTable();
  } );
</script>