<!--Transparent header-->
<section class="black_header">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <div class="customer_value">
          <%= image_tag('67.png') %>
          <h4 class="mb-0">Customer Value Examination</h4>
        </div>
      </div>
      <div class="col-lg-8 col-md-8 text-right"> 
        <ul>
          <li class="active">
            <a href="<%= event_streams_path %>">
              <%= image_tag('61.png') %>Events
            </a>
          </li>
          <li>
            <a href="#">
              <%= image_tag('62.png') %>Data
            </a>
          </li>
          <li>
            <a href="#">
              <%= image_tag('64.png') %>Reportaing
            </a>
          </li>
          <li>
            <a href="#">
              <%= image_tag('65.png') %>Monitors
            </a>
          </li>
          <li>
            <a href="#">
              <%= image_tag('66.png') %>Alerts
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!--Transparent header-->
