<section class="event_stream">
  <div class="container">
    <div class="row"> 
      <div class="col-md-12">
        <div class="customer_value_exam row">
          <div class="col-md-1">
            <%= image_tag('71.png') %>
          </div>
          <div class="col-md-6">
            <h3>Customer Value Examination</h3>
            <p>This is a description that will go for a few rows. Lorem ipsum dolor sit amet,</p>
          </div>
          <div class="col-md-3 text-right">
            <p class="pt-4">Owner: Benjamin Wootton</p>
          </div>
          <div class="col-md-2 text-right pt-1">
            <ul>
              <li>
                <a href="#"><%= image_tag('74.png') %></a>
              </li>
              <li>
                <a href="#"><%= image_tag('73.png') %></a>
              </li>
              <li>
                <a href="#"><%= image_tag('72.png') %></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="border_bottom"></div>
      </div>
    </div>
    <div class="row pt-4">
      <div class="col-md-12"> 
         <div class="table-responsive data_table">
            <table class="table alert">
                <tr class="border_none">
                    <td>
                        <div class="data_content"> 
                            <h4 class="pt-3">Alerts</h4>
                        </div>
                    </td>
                    <td align="right">
                        <span class="span_show">Show:</span>
                        <div class="dropdown extra_btn">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                10 <i class="fa fa-angle-down" aria-hidden="true"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">20</a>
                                <a class="dropdown-item" href="#">50</a>
                                <a class="dropdown-item" href="#">100</a>
                            </div>
                        </div>
                    </td>
                    <td >
                        <form>
                            <input type="search" name="search" placeholder="Search">
                            <label><%= image_tag('85.png') %></label>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td width="40%">
                        <div class="alert_inner">
                            <div class="alert_img">
                              <%= image_tag('90.png') %>
                            </div>
                            <div class="alert_content">
                                <h4 class="pt-3">More Than 26 Orders Awaiting</h4>
                                <p>Value 547, Delivery Type Collection</p>
                            </div>

                        </div>
                    </td>
                    <td width="30%"><p class="pt-4">5 min ago</p></td>
                    <td align="right" width="30%"><button class="status_red mt-4 float-right">Status</button></td>
                </tr>
                <tr>
                    <td width="40%">
                        <div class="alert_inner">
                            <div class="alert_img">
                              <%= image_tag('90.png') %>
                            </div>
                            <div class="alert_content">
                                <h4 class="pt-3">More Than 26 Orders Awaiting</h4>
                                <p>Value 547, Delivery Type Collection</p>
                            </div>

                        </div>
                    </td>
                    <td width="30%"><p class="pt-4">5 min ago</p></td>
                    <td align="right" width="30%"><button class="status_red mt-4 float-right">Status</button></td>
                </tr>
                <tr>
                    <td width="40%">
                        <div class="alert_inner">
                            <div class="alert_img">
                              <%= image_tag('90.png') %>
                            </div>
                            <div class="alert_content">
                                <h4 class="pt-3">More Than 26 Orders Awaiting</h4>
                                <p>Value 547, Delivery Type Collection</p>
                            </div>

                        </div>
                    </td>
                    <td width="30%"><p class="pt-4">5 min ago</p></td>
                    <td align="right" width="30%"><button class="status_red mt-4 float-right">Status</button></td>
                </tr>
                <tr>
                    <td width="40%">
                        <div class="alert_inner">
                            <div class="alert_img">
                              <%= image_tag('90.png') %>
                            </div>
                            <div class="alert_content">
                                <h4 class="pt-3">More Than 26 Orders Awaiting</h4>
                                <p>Value 547, Delivery Type Collection</p>
                            </div>

                        </div>
                    </td>
                    <td width="30%"><p class="pt-4">5 min ago</p></td>
                    <td align="right" width="30%"><button class="status_green mt-4 float-right">Status</button></td>
                </tr>
                <tr>
                    <td width="40%">
                        <div class="alert_inner">
                            <div class="alert_img">
                              <%= image_tag('90.png') %>
                            </div>
                            <div class="alert_content">
                                <h4 class="pt-3">More Than 26 Orders Awaiting</h4>
                                <p>Value 547, Delivery Type Collection</p>
                            </div>

                        </div>
                    </td>
                    <td width="30%"><p class="pt-4">5 min ago</p></td>
                    <td align="right" width="30%"><button class="status_red mt-4 float-right">Status</button></td>
                </tr>
                <tr>
                    <td width="40%">
                        <div class="alert_inner">
                            <div class="alert_img">
                              <%= image_tag('90.png') %>
                            </div>
                            <div class="alert_content">
                                <h4 class="pt-3">More Than 26 Orders Awaiting</h4>
                                <p>Value 547, Delivery Type Collection</p>
                            </div>

                        </div>
                    </td>
                    <td width="30%"><p class="pt-4">5 min ago</p></td>
                    <td align="right" width="30%"><button class="status_green mt-4 float-right">Status</button></td>
                </tr>
                <tr>
                    <td width="40%">
                        <div class="alert_inner">
                            <div class="alert_img">
                              <%= image_tag('90.png') %>
                            </div>
                            <div class="alert_content">
                                <h4 class="pt-3">More Than 26 Orders Awaiting</h4>
                                <p>Value 547, Delivery Type Collection</p>
                            </div>

                        </div>
                    </td>
                    <td width="30%"><p class="pt-4">5 min ago</p></td>
                    <td align="right" width="30%"><button class="status_green mt-4 float-right">Status</button></td>
                </tr>
                <tr>
                    <td width="40%">
                        <div class="alert_inner">
                            <div class="alert_img">
                              <%= image_tag('90.png') %>
                            </div>
                            <div class="alert_content">
                                <h4 class="pt-3">More Than 26 Orders Awaiting</h4>
                                <p>Value 547, Delivery Type Collection</p>
                            </div>

                        </div>
                    </td>
                    <td width="30%"><p class="pt-4">5 min ago</p></td>
                    <td align="right" width="30%"><button class="status_red mt-4 float-right">Status</button></td>
                </tr>
                <tr>
                    <td width="40%">
                        <div class="alert_inner">
                            <div class="alert_img">
                              <%= image_tag('90.png') %>
                            </div>
                            <div class="alert_content">
                                <h4 class="pt-3">More Than 26 Orders Awaiting</h4>
                                <p>Value 547, Delivery Type Collection</p>
                            </div>

                        </div>
                    </td>
                    <td width="30%"><p class="pt-4">5 min ago</p></td>
                    <td align="right" width="30%"><button class="status_green mt-4 float-right">Status</button></td>
                </tr>
                <tr>
                    <td width="40%">
                        <div class="alert_inner">
                            <div class="alert_img">
                              <%= image_tag('90.png') %>
                            </div>
                            <div class="alert_content">
                                <h4 class="pt-3">More Than 26 Orders Awaiting</h4>
                                <p>Value 547, Delivery Type Collection</p>
                            </div>

                        </div>
                    </td>
                    <td width="30%"><p class="pt-4">5 min ago</p></td>
                    <td align="right" width="30%"><button class="status_red mt-4 float-right">Status</button></td>
                </tr>
                 
                 
            </table>
        </div>
    </div>
</div> 
</div>
</section>