<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @alert.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @alert.description %>
</p>

<p>
  <strong>Project:</strong>
  <%= @alert.project_id %>
</p>

<%= link_to 'Edit', edit_alert_path(@alert) %> |
<%= link_to 'Back', alerts_path %>
